@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  margin:0;
  background: rgba(206, 187, 21, 0.199);
}

ul.navigate {
  right:0px;
  position: absolute;
  background: #FFD7A7;
  padding-right: 0;
  padding: 0;
  list-style: none;  
  width: 40%;
}

li.navigate {
  display: inline-block;
  width: 22%;
}

nav.navigate {
  display: block;
}

a.navref {
  text-decoration: none;
  font-family: 'Lora', serif;
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 3px solid #836545;
  background: rgba(255, 171, 81, .3);
}

.top-line_left_block {
  background: #FFD7A7;
  color: #9B4222;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  width: 60%;
  font-size: 25pt;
}

.main-page{
  margin-left: 15%;
  margin-right: 15%;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px;
}

.Image{
  padding-right: 10px;
  padding-left: 25px;
}

.div_form{
  width: 15%;
  height: 20%;
  background: rgb(255, 255, 255);
  border: 4px double black;
  padding: 10px;
  display: block;   
  float: left;
}

.block_line{
  background: rgba(206, 187, 21, 0.199);
  height: 20px;
  border-bottom: 2px solid black;
}

#addrecipe{
  width: 70%;
  height: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  background-image: url("https://i.pinimg.com/originals/45/6d/59/456d5935fbd53bafa11179bd58781923.jpg");
  background-size: cover;
  background-color: #cccccc28;
  border-radius: 15px; 
}

#formmenu{
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px; 
  padding: 5px;
  font-size: 15pt;
  font-family: 'Lora', serif;
}

a.navref:hover {background: #FFAB51}

.drop{
  display:block;
}

i {
  margin-right: 10px;
}

.isDisabled{
  -webkit-user-select: none; 
  color:currentColor;
  cursor:not-allowed;
  pointer-events:none; 
  opacity: 0.4;
  text-decoration: none;
}

.loginmenu{
  width: 30%;
  height: 25%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  position: absolute;
  border-radius: 15px; 
  background-color: snow;
  padding: 10px;
}

#reg{
  margin-left: 20px;
  display: inline;
}

.regmenu{
  width: 30%;
  height: 35%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  position: absolute;
  border-radius: 15px; 
  background-color: snow;
  padding: 10px;
}

.card{
  border: 2px solid black;
}

.card-text{
  height: 150px;
}

.like-button{
  border: 2px solid black;
}

.col-mb-4{
  margin-top: 5%;
}
